/* Header Style */
.header { display: flex; justify-content: center; width: 100%; height: 10rem;  _box-shadow: inset 0 0 .1rem 0 black;;
}
.header .container {display: flex; align-items: center;}

.header .nav-left{width: 40%; height: auto;}
.header .nav-left> ul {display: flex; align-items: center; justify-content: space-evenly; width: 100%; height: auto;}
.header .nav-left> ul> li a { color: #333; font-size: 1.6rem; line-height: 2rem;}

.header .nav-right{width: 35%; height: auto;}
.header .nav-right> ul {display: flex; align-items: center; justify-content: space-evenly;width: 100%; height: auto;}
.header .nav-right> ul> li a {font-size: 1.6rem; font-weight: 500; line-height: 2rem;}
.header .nav-right> ul> li:nth-child(6) a {display: inline-block; width: 2rem; height: 2rem; background: url(../img/ico-header-search.png) no-repeat center;}

/* Side navigation style */
.header .side-nav-wrap {display: block; position: fixed; top: 0; left: 0; width: 64rem; min-width: 58rem; height: 100%; padding: 5rem 5rem 12.6rem ; background-color: #888; }
/* .header .side-nav-wrap::after{content: ""; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, .5);} */
.header .container::after{visibility: hidden;}
.header .container.active::after{content: ""; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; visibility: visible; background: rgba(0, 0, 0, .5);} /*오버레이*/
.header .side-nav-wrap .side-nav-btn a {display: block; width: 5.8rem; height: 2.3rem; background: url(/img/ico-header-menu.png) no-repeat center;}
.header .side-nav-wrap .side-nav-btn.active a {display: none;}

.header .side-nav-wrap .side-nav-menu .logo {display: flex; justify-content: space-between; width: 100%; height: auto; margin-left: 0;}
.header .side-nav-wrap .side-nav-menu .logo a:nth-child(2) {width: 1.8rem; height: 1.8rem; background: url(/img/ico-sitemap-close.png) no-repeat center;}
.header .side-nav-wrap .side-nav-menu> ul {margin: 14.5rem 0 5rem 0;}
.header .side-nav-wrap .side-nav-menu> ul> li {padding: 2.2rem 0;}
.header .side-nav-wrap .side-nav-menu> ul> li>a {font-size: 3rem; font-weight: var(--fw-700); font-family: 'EB Garamond'; line-height: 3.6rem; color: #333333; }
.header .side-nav-wrap .side-nav-menu .info-menu {position: absolute; bottom: 17rem; left: 0; width: 64rem; height: 2.6rem; padding: 5rem; background: #f8f8f8;}
.header .side-nav-wrap .side-nav-menu .info-menu .info-wrap {display: flex;justify-content: flex-start; align-items: center; gap: 3rem;}
.header .side-nav-wrap .side-nav-menu .info-menu a { line-height: 2.6rem; font-size: 1.6rem; color: #666; }

