/********** Header Style **********/
.header { display: flex; justify-content: center; width: 100%; height: 10rem;  _box-shadow: inset 0 0 .1rem 0 black;;
}
.header .container {display: flex; align-items: center;}
.header .nav-left{width: 40%; height: auto;}
.header .nav-left> ul {display: flex; align-items: center; justify-content: space-evenly; width: 100%; height: auto;}
.header .nav-left> ul> li a { color: #333; font-size: 1.6rem; line-height: 2rem;}
.header .logo {width: 20%; height: auto; margin-left: 4rem;}
.header .logo a {display: inline-block; width: 14.6rem; height: 4.5rem; background: url(../img/logo.png) no-repeat center; font-size: 0;}
.header .nav-right{width: 35%; height: auto;}
.header .nav-right> ul {display: flex; align-items: center; justify-content: space-evenly;width: 100%; height: auto;}
.header .nav-right> ul> li a {font-size: 1.6rem; font-weight: 500; line-height: 2rem;}
.header .container>ul {width: 3%; height: 2rem;}
.header .container .search {display: inline-block; width: 2rem; height: 2rem; background: url(../img/ico-header-search.png) no-repeat center;}
/********** Side navigation style **********/
.side-nav-wrap .overlay {visibility: hidden;}
.side-nav-wrap .overlay.open {position: fixed; top: 0; left: 0; width: 100%; height: 100%; visibility: visible; background: rgba(0, 0, 0, .5); transition: all 1s ease; z-index: 500;}
.side-nav-wrap .side-nav-btn a {display: block; width: 5.8rem; height: 2.3rem; background: url(/img/ico-header-menu.png) no-repeat center;}
.side-nav-menu {display: block; position: fixed; top: 0; left: -64rem; width: 64rem; min-width: 58rem; height: 100%; background-color: #fff; transition: all .5s ease; z-index: 1000;}
.side-nav-menu .nav-menu-wrap {margin:  5rem 5rem 16.6rem ;}
.side-nav-menu .logo {display: flex; justify-content: space-between; width: 100%; height: auto; margin-left: 0;}
.side-nav-menu .logo a:nth-child(2) {width: 1.8rem; height: 1.8rem; background: url(/img/ico-sitemap-close.png) no-repeat center;} 
.side-nav-menu .nav-menu-wrap> ul {margin: 14.5rem 0 5rem 0;}
.side-nav-menu .nav-menu-wrap> ul> li {position: relative; padding: 2.2rem 0;}
.side-nav-menu .nav-menu-wrap>ul>li.nav-menu-close .side-acc {font-size: 3rem; font-weight: var(--fw-700); font-family: 'EB Garamond'; line-height: 3.6rem; color: var(--color-gray-3); }
.side-nav-menu .nav-menu-wrap>ul>li.open .side-acc {font-size: 3rem; font-weight: var(--fw-700); font-family: 'EB Garamond'; line-height: 3.6rem;font-style: italic;color: var(--color-orange);transition: all 1s ease;}
.side-nav-menu .info-menu { width: 54rem; height: 2.6rem; padding: 5rem; background: #f8f8f8;}
.side-nav-menu .info-menu .info-wrap {display: flex;justify-content: flex-start; align-items: center; gap: 1.5rem;}
.side-nav-menu .info-menu a { line-height: 2.6rem; font-size: 1.6rem; color: #666; }
/********** side nav dropdown **********/
.side-nav-menu .nav-menu-wrap>ul>li.nav-menu-close .side-acc-item {display: none;}
.side-nav-menu .nav-menu-wrap>ul>li.open .side-acc-item {position: absolute; top: 2.2rem; right: 0; display: flex; flex-direction: column; gap: 2.2rem; width: 50%; height: auto;}
.side-nav-menu .nav-menu-wrap .side-acc-item a {display: inline-block; flex-direction: column; font-size: 1.6rem; color: var(--color-gray-3); line-height: 2.4rem;}

/********** slider section style **********/
.swiper-section{position: relative; width: 100%; max-width: 190rem; margin: 0 auto; padding: 0;}
.swiper-section .swiper {width: 100%; height: auto;}
.swiper-section .swiper-slide-active .swiper-img {transform: scale3d(1.1,1.1,1); transition: all 4s ease;}
.swiper-section .swiper-slide .swiper-img {width: 100%; height: 79rem; resize: both;}
.swiper-section .swiper-slide:nth-child(1) .swiper-img{ background: url(/img/maindata128056_0.jpg) no-repeat; background-size: cover; overflow: hidden; }
.swiper-section .swiper-slide:nth-child(2) .swiper-img {background: url(/img/maindata131255_0.jpg) no-repeat; background-size: cover; overflow: hidden; }
.swiper-section .swiper-slide:nth-child(3) .swiper-img{background: url(/img/maindata131279_0.jpg) no-repeat; background-size: cover; overflow: hidden; }

.swiper-section .swiper-pagination {position: absolute; width: 50%; height: 14rem; bottom: 0; right: 0; display: flex; padding: 2rem 5rem 0 5rem; margin: 0 100rem; text-align: start; background: #fff; z-index: 10;}
.swiper-section .swiper-pagination .swiper-pagination-bullet {width: 22.9rem; height: 7.7rem; display: flex; flex-direction: column; background: #fff;}
.swiper-section .swiper-pagination .swiper-pagination-bullet span {margin-bottom: 1.3rem; font-size: 1.5rem; font-weight: var(--fw-700); font-family: 'EB Garamond'; color: var(--color-orange);}
.swiper-section .swiper-pagination .swiper-pagination-bullet strong {font-size: 1.6rem; font-weight: var(--fw-700); font-family: 'EB Garamond'; line-height: 2.2rem; color: #333;}

.swiper-wrapper .swiper-slide .swiper-txts {position: absolute; top: 0; width: 50%; height: auto; margin: 30rem 20rem;}
.swiper-wrapper .swiper-slide-active .swiper-txts span {font-size: 2.4rem; color: #fff; line-height: 3.4rem; font-family: 'EB Garamond'; animation: txtUp 1.5s forwards;}
.swiper-wrapper .swiper-slide-active .swiper-txts h2 {font-size: 6rem; font-weight: var(--fw-600); color: #fff; line-height: 8rem; letter-spacing: 0; font-family: 'EB Garamond'; animation: txtUp 1.5s forwards;}

@keyframes txtUp {
    0% {
        opacity: 0; 
        visibility: hidden; 
        transform: translateY(4rem);
    }
    100% {
        opacity: 1; 
        visibility: visible; 
        transform: translateY(0);
    }
}

.swiper-section .swiper .swiper-button-next {width: 50%; height: 100%; top: 0; left: 50%; opacity: 0;}
.swiper-section .swiper .swiper-button-prev {width: 50%; height: 100%; top: 0; right: 50%; opacity: 0;}

/********** best section style **********/

.best-section {position: relative; padding: 15rem 27rem; }
.best-section .swiper { width: 100%;height: 100%; margin-top: 12rem; }
.best-section .swiper-slide {width: 25%; height: auto; display: flex; flex-direction: column; justify-content: center;align-items: center;text-align: center;font-size: 18px;background: #fff;}
.best-section .swiper-slide .best-swiper-img {display: flex; width: 100%; height: 45rem;}
.best-section .swiper-slide:nth-child(1) .best-swiper-img { background: url(/img/bridge.jpg) no-repeat center; background-size: cover;}
.best-section .swiper-slide:nth-child(2) .best-swiper-img {background: url(/img/kiss.jpg) no-repeat center;  background-size: cover;}
.best-section .swiper-slide:nth-child(3) .best-swiper-img {background: url(/img/morning.png) no-repeat center; background-size: cover;}
.best-section .swiper-slide:nth-child(4) .best-swiper-img {background: url(/img/pond.png) no-repeat center; background-size: cover;}
.best-section .swiper-slide:nth-child(5) .best-swiper-img {background: url(/img/spring.png) no-repeat center; background-size: cover;}
.best-section .swiper-slide .best-swiper-img .white-box {visibility: hidden; width: 0; }
.best-section .swiper-slide .best-swiper-img:hover .white-box { display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; width: 85%; height: 85%; margin: auto; transition: all 1s cubic-bezier(.48,.57,.42,.92); background: rgba(255, 255, 255, 0.8);  visibility: visible;}
.best-section .swiper-slide .best-swiper-img .white-box .white-box-img {display: flex; justify-content: space-between; width: 30%; position: absolute; bottom: 3rem;}


.best-section .best-swiper-txts {display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; gap: 2rem; width: 100%; margin-top: 3rem;}
.best-section .best-swiper-txts .bst-txt a {display: inline-block; font-size: 2.4rem; color: var(--color-gray-3); font-family: 'Noto Serif KR'; font-weight: var(--fw-600); line-height: 3rem;}
.best-section .best-swiper-txts .bst-desc span {display: flex; font-size: 1.6rem; color: var(--color-orange); line-height: 2rem; font-family: 'Noto Serif KR';}
.best-section .best-swiper-txts .bst-desc p {margin-top: 1rem; font-size: 1.6rem; color: var(--color-gray-8); line-height: 2rem; }
.best-section .best-swiper-txts .bst-price {display: flex; align-items: baseline; color: var(--color-gray-3); font-family: 'Noto Serif KR'; font-weight: var(--fw-500);}
.best-section .best-swiper-txts .bst-price strong {font-size: 3.6rem;  }
.best-section .best-swiper-txts .bst-price p {font-size: 2rem; color: var(--color-gray-3); font-family: 'Noto Serif KR'; font-weight: var(--fw-500);}

.best-section .swiper-button {position: absolute; top: 60%; width: 3.6rem; height: 1.7rem; color: #666;}
.best-section .swiper-button-next{right: 15rem;}
.best-section .swiper-button-prev{left: 15rem;}
.best-section .swiper-pagination-bullet {background: #333;}


 /********** MD section style **********/
 .MD-section {width: 100%; max-width: 190rem; height: 74rem; padding: 10rem 0 21rem; margin: 0 auto; background: url(/img/pick-bg.jpg) no-repeat center; background-size: cover;}
 .MD-tab-menu .MD-tab {display: flex;align-items: center; justify-content: center; gap: 3rem; margin: 5rem 0 7.5rem;}
 .MD-tab-menu .MD-tab .tab-item {display: block; font-size: 1.8rem; font-weight: var(--fw-500); color: #a4a4a4; line-height: 2.5rem;}
 .MD-tab-menu .MD-tab .tab-item.active {display: block; font-size: 1.8rem; font-weight: var(--fw-500); color: black; line-height: 2.5rem;}
 .MD-tab-menu .tab-inner-wrap .tab-inner{display: none;}
 .MD-tab-menu .tab-inner-wrap .tab-inner.active {position: relative; display: flex; width: 134rem; height: 50rem; margin: 0 auto; background: #fff; box-shadow: 1px 3px 13px rgba(0, 0, 0, 13%);}
 .MD-tab-menu .tab-inner-wrap .tab-inner:nth-child(1) .MD-img {position: absolute; top: 6rem; left: -6rem; width: 64rem; height: 50rem; background: url(/img/house.png) no-repeat center; background-size: cover;}
 .MD-tab-menu .tab-inner-wrap .tab-inner:nth-child(2) .MD-img {position: absolute; top: 6rem; left: -6rem; width: 64rem; height: 50rem; background: url(/img/pond.png) no-repeat center; background-size: cover;}
 .MD-tab-menu .tab-inner-wrap .tab-inner .MD-txts {width: 50%; padding: 10rem 8rem 3rem 70rem;}
 .MD-tab-menu .tab-inner-wrap .tab-inner .MD-txts span {margin-top: 3rem; margin-bottom: .8rem; font-size: 1.6rem; color: var(--color-orange); font-family: 'Noto Serif KR'; line-height: 2.6rem;}
 .MD-tab-menu .tab-inner-wrap .tab-inner .MD-txts h2 {margin-bottom: 3rem; font-size: 3.6rem; color: var(--color-gray-3); font-family: 'Noto Serif KR'; font-weight: var(--fw-700); line-height: 4.6rem;}
 .MD-tab-menu .tab-inner-wrap .tab-inner .MD-txts h3 {font-size: 1.6rem; color: #666666; line-height: 2.6rem;}
 .MD-tab-menu .tab-inner-wrap .tab-inner .MD-txts button {margin-top: 5.5rem;}

 /********** New section style **********/
.new-section {position: relative; margin: 9rem 25rem;}
.new-section .main-txts {margin-bottom: 10rem;}
.new-section .swiper .swiper-wrapper {margin: 0 auto;}
.new-section .swiper-slide {width: 44rem;}
.new-section .swiper-slide .new-swiper-img {display: flex; align-items: flex-end; width: 100%; height: 62rem; }
.new-section .swiper-slide .new-swiper-img .white-box {width: 38rem; height: 8rem; background: #fff;}
.new-section .swiper-slide .new-swiper-img .white-box span {display: block; padding: 2rem 0 1rem; font-size: 1.6rem; color: var(--color-orange); line-height: 2.6rem; font-family: 'Noto Serif KR';}
.new-section .swiper-slide .new-swiper-img .white-box h2 {font-size: 2.4rem; color: var(--color-gray-3); line-height: 3.4rem; font-family: 'Noto Serif KR'; font-weight: var(--fw-600);}
.new-section .swiper-slide:nth-child(1) .new-swiper-img {background: url(/img/terrace.jpg) no-repeat center; background-size: cover;}
.new-section .swiper-slide:nth-child(2) .new-swiper-img {background: url(/img/night.jpg) no-repeat center; background-size: cover;}
.new-section .swiper-slide:nth-child(3) .new-swiper-img {background: url(/img/kamiyou.jpg) no-repeat center; background-size: cover;}
.new-section .swiper-slide:nth-child(4) .new-swiper-img {background: url(/img/spring.png) no-repeat center; background-size: cover;}
.new-section .swiper-slide:nth-child(5) .new-swiper-img {background: url(/img/portrait.png) no-repeat center; background-size: cover;}

.new-section .swiper-slide .new-swiper-txt {margin-top: 3.5rem;}
.new-section .swiper-slide .new-swiper-txt h3 {height: 7.8rem; margin-bottom: 5rem; font-size: 1.6rem; color: #666666; line-height: 2.6rem; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.new-section .swiper-slide .new-swiper-txt a {display: flex; align-items: center; justify-content: space-between; width: 30%; margin-top: 2.5rem; font-size: 1.8rem; color: var(--color-gray-3); line-height: 2.8rem; font-family: 'EB Garamond';}
.new-section .swiper-slide .new-swiper-txt a::before {content: ""; display: inline-block; width: 3.5rem; height: .1rem; background: var(--color-orange);} 
.new-section .swiper-button {position: absolute; top: 60%; width: 3.6rem; height: 1.7rem; color: #666;}
.new-section .swiper-button-next{right: -10rem;}
.swiper-button-prev{left: -10rem}

 /********** Gallery section style **********/
 .gallery-section {padding: 15rem 0; background: url(/img/gallery-bg.jpg) no-repeat center; background-size: cover; background-attachment: fixed;}
 .gallery-section .gallery-box {width: 130rem; height: 20rem; padding: 8rem 2rem; margin: 0 auto; background: rgba(255, 255, 255, .8);}
 .gallery-section .gallery-box .gallery-txts {display: flex; flex-direction: column; justify-content: center; align-items: center;}
 .gallery-section .gallery-box .gallery-txts h2 {font-size: 4rem; color: #211e1f; line-height: 5rem; font-weight: var(--fw-600); letter-spacing: .4rem; font-family: 'EB Garamond';}
 .gallery-section .gallery-box .gallery-txts span {margin-top: 3rem; font-size: 1.8rem; color: var(--color-gray-3); line-height: 2.8rem; font-weight: var(--fw-500); font-family: 'Noto Serif KR';}
 .gallery-section .gallery-box .gallery-txts button {margin-top: 5rem;}

 /********** Review section style **********/
.review-section {margin: 15rem 25rem;}
.review-section .review-box {display: flex; gap: 3rem; margin-top: 9rem;}
.review-section .review-box .review-wrapper {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.review-section .review-box .review-wrapper {width: var( --ls-1-3); height: auto;}
.review-section .review-box .review-wrapper .review-img {display: flex; justify-content: flex-end; width: 100%; height: 37rem;}
.review-section .review-box .review-wrapper:nth-child(1) .review-img {background: url(/img/thum05.png) no-repeat center; background-size: cover;}
.review-section .review-box .review-wrapper:nth-child(2) .review-img {background: url(/img/kiss.jpg) no-repeat center; background-size: cover;}
.review-section .review-box .review-wrapper:nth-child(3) .review-img {background: url(/img/amond-tree.jpg) no-repeat center; background-size: cover;}
.review-section .review-box .review-wrapper .review-img span {display: flex; justify-content: center; align-items: center; flex-direction: column; width: 5.3rem; height: 5.3rem; background: #fff; font-size: 1.3rem; color: var(--color-orange);}
.review-section .review-box .review-wrapper .review-img span strong {font-size: 2.4rem; color: var(--color-orange); line-height: 2,4rem; }
.review-section .review-box .review-wrapper .review-txts .name {display: flex; margin-top: 3rem;}
.review-section .review-box .review-wrapper .review-txts .name span {font-size: 1.5rem; color: var(--color-orange); line-height: 1.8rem;}
.review-section .review-box .review-wrapper .review-txts>span {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 5.2rem; margin-top: 1rem; font-size: 1.6rem; color: #666666; line-height: 2.6rem; text-overflow: ellipsis; overflow: hidden;}
.review-section .review-box .review-wrapper .review-txts>a {display: flex; align-items: center; justify-content: space-between; width: 30%; margin-top: 2.5rem; font-size: 1.8rem; color: var(--color-gray-3); line-height: 2.8rem; font-family: 'EB Garamond';}
.review-section .review-box .review-wrapper .review-txts>a::before {content: ""; display: inline-block; width: 3.5rem; height: .1rem; background: var(--color-orange);} 

 /********** Footer style **********/
 .footer {width: 100%; height: auto; padding: 6rem 0; background: #272727;}
 .footer .footer-info-wrapper {max-width: 140rem; margin: 0 auto;}
 .footer .footer-info-wrapper .policy {display: flex; gap: 3rem;}
.footer .footer-address span, .footer .footer-address p, .footer .policy a {font-size: 1.6rem; line-height: 2.6rem; font-weight: var(--fw-500); font-style: normal; color: #888; }
.footer .footer-info-wrapper .footer-address {margin-top: 2rem;}
.footer .footer-info-wrapper .footer-address>p {display: flex; gap: 3rem; margin-top: 1rem;}

